body {
    overflow-x: hidden;
    font-family: 'Exo 2', sans-serif;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

#topButton {
    position: fixed;
    bottom: 0;
    right: 20px;
    text-decoration: none;
    color: black;
    font-size: 4em !important;
    /*background-color: white;*/
}

header ul {
    text-align: center;
    padding: 0;
}

header ul li {
    display: inline-block;
    /*margin: 0 10px;*/
}

header ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 2em;
    font-weight: bolder;
    padding: 0 10px;
}

header ul li a:hover {
    /*color: #505050;*/
    border-bottom: 4px dotted #505050;
}

section {
    width: 80%;
    margin: 60px auto;
    font-size: 1.2em;
    text-align: justify;
}

section h1 {
    text-align: center;
    margin-top: 0;
}

#home {
    text-align: center;
    margin-top: 20px;
}

#home img {
    min-width: 200px;
    /*min-height: 190px;*/
    width: 25%;
    /*background-color: #505050;*/
    border-radius: 50%;
    outline-offset: 10px;
}

.left-twist {
    transform: skewY(-5deg);
    background-color: #505050;
    margin: 0 -13%;
    margin-left: -14%;
    padding: 0 14%;
    color: #fff;
}

#about {
    padding: 100px 0;
    transform: skewY(5deg);
}


/*.line {
    width: 150%;
    border-top: 5px solid #000000;
    transform: skewY(-10deg);
    margin: 10% -25%;
}*/

/*.tools-card {
    margin-top: 40px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.tools-card h2 {
    font-weight: 400;
    text-align: center;
}

.tools-card img {
    width: 200px;
}*/

#tools .row {
    justify-content: space-around;
    /*align-items: flex-start;*/
    /*align-content: space-around;*/
    /*justify-items: flex-start;*/
}

#tools img {
    width: 15%;
    min-width: 100px;
    max-width: 200px;
    padding: 0 10px;
    /*height: auto;*/
}

.scrollable {
    padding-top: 30px;
    /*background-color: #505050;*/
    /*overflow: auto;*/
    /*white-space: nowrap;*/
}

.scrollable a {
    /*width: 100%;*/
    /*display: inline-block;*/
    /*color: white;*/
    /*text-align: center;*/
    padding: 0 14px;
    /*text-decoration: none;*/
}

.right-twist {
    transform: skewY(5deg);
    background-color: #505050;
    margin: 0 -13%;
    margin-left: -14%;
    padding: 0 14%;
    color: #fff;
}

#projects {
    padding-top: 10%;
    padding-bottom: 30%;
    transform: skewY(-5deg);
    color: #fff;
}

#projects img {
    /*width: 100%;*/
    /*padding: 0;*/
    vertical-align: middle;
    max-height: 400px;
    margin: auto;
}

#projects {
    text-align: center;
}

.slick-arrow {
    background: none;
    margin-top: 10px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 15%;
    color: #fff;
    transition: background-color 0.3s ease;
}

.slick-arrow:hover {
    background: #fff;
    color: #505050;
}

.slick-next {
    float: right;
}

.slick-prev {
    float: left;
}

.slick-dots {
    padding: 0;
}

.slick-dots li {
    display: inline;
    padding: 0 10px;
}

.slick-dots li button {
    background: none;
    border: 2px solid #fff;
    color: white;
    border-radius: 50%;
    height: 20px;
    transition: background-color 0.5s ease;
}

.slick-dots li.slick-active button {
    background-color: #fff;
}

.slick-dots li button:hover {
    background: #ABABAB;
}

@media only screen and (min-width: 500px) {
    .tools-card img {
        padding-right: 10px;
        float: left;
    }
}
@media only screen and (min-width: 700px){
    #projects {
        padding-top: 10%;
        padding-bottom: 15%;
    }
}

@media only screen and (min-width: 900px){
    
    #tools {
        text-align: center;
    }
    
    .tools-card {
        width: 50%;
        padding: 0px 50px;
        box-sizing: border-box;
    }

    .tools-card:nth-child(2) {
        padding-left: 0px;
    }

    .tools-card:last-child {
        padding-right: 0px;
    }
    
    .tools-card p {
        text-align: justify;
    }

    .tools-card img {
        float: none;
    }
    
}