.BotWrapper{
    width: 100%;
    height: 100%;
}
.BotContent{
    max-height: 330px;
}

@media only screen and (max-width: 720px) {
	.BotTextInput {
		font-size:10px;
	}
}

#BotFooter  {
	width:100% !important;
	padding:5px;
}