#side-panel{
    
    /* display:none; */
    width: 300px; 
    height: 500px;
    top: 0px; 
    left: 310px;
    position:absolute;
    font-family: 'Roboto', sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.19);
    background-color: white;
}

#faq-list li {
    position: relative;
    list-style-type: none;
    margin-left:8px;
    margin-right:8px;
    padding:7px;
    border-radius:2px;
    text-decoration:none;
    line-height: 200%;
	
}
#faq-list li:hover {
    background-color: #E6E6E6;
}

#faq-list a {
    text-decoration:none;
}



#faq-list {
    font-size:12px;
    position: relative;
    top: 40px;
	text-align: left;
}

#side-panel-open {
    left:6px;
	position:relative;
}

.side-title-header {
    color:#fff;
    font-size:16px;
    position:relative;
    top:4px;
    left:10px;
	text-align:left;
}


.side-panel-header{
    height: 26px;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgb(64, 128, 255);
}

.BotMenuButton {
    position:relative;
    color:#fff;
    font-size:16px;
}
